<!DOCTYPE html>
<html lang="en">
<head>
  <title>SIDUK DKI</title>
  <meta charset="utf-8"> </meta>
  <meta name="viewport" content="width=device-width, initial-scale=1"> </meta>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> </link>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">SIDUK DKI</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <h3 th:text="'Lihat Data Penduduk' + ' - ' + ${penduduk.nik}"></h3>
  <div class="row">
      <div class="row">
        <div class="col-sm-6"><h4 th:text="'NIK'"></h4></div>
        <h4 th:text="': ' + ${penduduk.nik}"></h4>
        <div class="col-sm-6"><h4 th:text="'Nama'"></h4></div>
        <h4 th:text="': ' + ${penduduk.nama}"></h4>
       </div>
       <div class ="row">
        <div class="col-sm-6"><h4 th:text="'Tempat/Tanggal Lahir'"></h4></div>
        <h4 th:text="': ' + ${penduduk.tempat_lahir} + '/' + ${penduduk.tanggal_lahir}"></h4>
       </div>
       <div class = "row">
        <div class="col-sm-6"><h4 th:text="'Alamat'"></h4></div>
        <h4 th:text="': ' + ${keluarga.alamat}"></h4>
        </div>
        <div class = "row">
        <div class="col-sm-6"><h4 th:text="'RT/RW'"></h4></div>
        <h4 th:text="': ' + ${keluarga.rt} + '/' + ${keluarga.rw}"></h4>
        </div>
        <div class ="row">
        <div class="col-sm-6"><h4 th:text="'Kelurahan/Desa'"></h4></div>
        <h4 th:text="': ' + ${lokasi.nama_kelurahan}"></h4>
        <div class="col-sm-6"><h4 th:text="'Kecamatan'"></h4></div>
        <h4 th:text="': ' + ${lokasi.nama_kecamatan}"></h4>
        </div>
        <div class ="row">
        <div class="col-sm-6"><h4 th:text="'Kota'"></h4></div>
        <h4 th:text="': ' + ${lokasi.nama_kota}"></h4>
        </div>
        <div class="row">
        <div class="col-sm-6"><h4 th:text="'Golongan Darah'"></h4></div>
        <h4 th:text="': ' + ${penduduk.golongan_darah}"></h4>
        </div>
        <div class ="row">
        <div class="col-sm-6"><h4 th:text="'Agama'"></h4></div>
        <h4 th:text="': ' + ${penduduk.agama}"></h4>
        </div>
        <div class ="row">
        <div class="col-sm-6"><h4 th:text="'Status Perkawinan'"></h4></div>
        <h4 th:text="': ' + ${penduduk.status_perkawinan}"></h4>
        </div>
        <div class ="row">
        <div class="col-sm-6"><h4 th:text="'Pekerjaan'"></h4></div>
        <h4 th:text="': ' + ${penduduk.pekerjaan}"></h4>
        <div class ="row">
        <div class="col-sm-6"><h4 th:text="'Kewarganegaraan'"></h4></div>
        <h4 th:text="${penduduk.is_wni} == true? ': WNI': ': WNA'"></h4>
        </div>
        <div class ="row">
        <div class="col-sm-6"><h4 th:text="'Status Kematian'"></h4></div>
		<h4 th:text="${penduduk.is_wafat} == true? ': Wafat': ':Hidup'"></h4>
		</div>
		
		<form action="/penduduk/mati" method = "post">
			<input type = "hidden" name="id" th:value="${penduduk.id}" /> 
  			<input type="hidden" name="nik" th:value= "${penduduk.nik}"></input> 
  			<input type="hidden" name="is_wni" th:value= "${penduduk.is_wni}"></input> 
  			<input type="hidden" name="id_keluarga" th:value= "${penduduk.id_keluarga}"></input> 
  			<input type="hidden" name="agama" th:value= "${penduduk.agama}"></input> 
  			<input type="hidden" name="pekerjaan" th:value= "${penduduk.pekerjaan}"></input> 
  			<input type="hidden" name="status_perkawinan" th:value= "${penduduk.status_perkawinan}"></input> 
  			<input type="hidden" name="status_dalam_keluarga" th:value= "${penduduk.status_dalam_keluarga}"></input> 
  			<input type="hidden" name="is_wafat" th:value= "${penduduk.is_wafat}"></input>
			<button type="submit" class="btn btn-primary" >Nonaktifkan</button>
		</form>
		
      </div>
    </div>
</div>
    
</body>
</html>
